<!DOCTYPE html>
<html>
    <head>
       <title>Fend Travel</title> 
    </head>
    <body>
        <div class="container-view">
            <header>
                <nav>
                    <button>a</button>
                    <button>d</button>
                    <button>d</button>
                </nav>
                <h1>Fend Travel APP</h1>
            </header>
            <main>
                <label for="name">
                    <input type="text" id="name" name="user_name" placeholder="City, Country, Arrive, Return">
                </label>
            </main>
        </div>
        <footer>footer</footer>
    </body>
</html>