<!DOCTYPE html>
<html>
    <head>
       <title>Fend Travel</title> 
    </head>
    <body>
        <header>
            <h1>Fend Travel</h1>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>New</li>
                    <li>New</li>
                </ul>
            </nav>
        </header>
        <main>
            <label for="name">
                <input type="text" id="name" name="user_name" placeholder="City, Country, Arrive, Return">
              </label>
        </main>
        <footer></footer>
    </body>
</html>