$header-img: url('../images/header.jpg');

body {
    display: grid;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.container-view {
    background: $header-img no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

label {
    display: block;
    text-align: center;
}

#name {
    width: 50vw;
}