.entry {
    margin: 20px;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

    background-color: white;
    border: none;
    border-radius: 20px;   
    opacity: 0.5;
    
    :hover {
        opacity: 1.0;
    }
}


//1080px

.img_card {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    width: 25vw;

    margin-left: auto;
    margin-right: auto;
    
    border: none;
    border-radius: 20px;
}

.ct-text {
    font-size: 2em;
    color: black;
}