//media-size
$media-width-L: 1200px;

.container-content{
    display: grid;
    grid-template-rows: 5vh 1fr;
}

#ct-box {
    margin: auto;
    height: 50vh;
    overflow: auto;
    color: white;
}

.title {
    color:black;
}

.entry {  
    margin: 3vw 2vh;
    display: grid;
    
    grid-template-rows: 1fr 1fr;

    background-color: white;
    border: none;
    border-radius: 20px;   
    opacity: 0.5;
    
    &:hover {
        opacity: 0.8;
    }

    @media screen and (min-width: $media-width-L){
        height: 50vh;
        margin: 3vw 2vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        border: none;
        border-radius: 20px;   
        opacity: 0.5;
    }
}

.img_card {
    margin: auto;
    border: none;
    border-radius: 20px;
}

.ct-text {
    color: black;
    margin: 1vw 2vh;
}
